* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f4fb;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: url(../images/imagem-ceu.jpg) center center no-repeat;
}